@import '@src/styles/common-variables.scss';

.chat {
  display: flex;
  flex-direction: column;
  max-width: 905px;
  margin: 0 auto;
  padding: 20px 0;
  height: 85vh;

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;

    overflow-y: scroll;
    padding: 20px 40px;
    gap: 20px;
  }

  .form {
    position: relative;

    &__input {
      textarea {
        height: 60px;
        padding: 10px 40px 10px 15px;
        border-radius: $common-borderRadius;
        resize: none;
      }

      input {
        padding: 10px 40px 10px 15px;
        border-radius: $common-borderRadius;
      }
    }

    &__button {
      position: absolute;
      right: 5px;
      bottom: 6px;

      button {
        border: none;
      }

      &-icon {
        font-size: 40px;
      }
    }

    .ant-form-item {
      margin-bottom: 0;
    }
  }
}
